body {
	margin:0px;
	padding:0px;
	border:0px;
/*	background-image:url(../images/background.jpg);*/
/*	background-color:#fff6f0;*/
    background-color:#ffffff;
}

::-moz-selection { /* Code for Firefox */
    color: #000000; 
    background: #ff6200;
}

::selection {
    color: #000000; 
    background: #ff6200;
}

.postbrief a {
    color:#ba1717;
}

a img {width:200px; border:1px solid #e8e8e8;}

footer {
	text-align:center;
	padding-top:75px;
	padding-bottom:75px;
	color:white;
	background-color:#252423;
}

.lbholder ul {
	list-style-type:none;
	text-align:center;
	padding:0;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

.lbholder li {
	display:inline-block;
}

.lbholder a {
	text-decoration:none;
	display:block;
	width:150px;
	padding-top:5px;
	padding-bottom:5px;
	background-color:rgba(0, 0, 0, 0.04);
	border-radius:4px;
	margin-right:10px;
	margin-bottom:10px;
	color:black;
	font-size:150%;
	font-family: robotothin, helvetica, arial;
	-o-transition:0.2s;
    -ms-transition:0.2s;
    -moz-transition:0.2s;
    -webkit-transition:0.2s;
    transition:0.2s;
}

.lbholder a:hover {
	background-color:rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    background-image:url(../images/backgroundimg.jpg);
    background-repeat: repeat-x;
}

.title1 {
	display:block;
}

.title2 {
	display:none;
}

#blog {
    background-color:#ffffff;
    padding-bottom:6em;
    max-width:1024px;
    margin-left:auto;
    margin-right:auto;
}

#pinned {
    width:100%;
    background-color:#efefef;
    padding:3em 0 3em 0;
}

.post {
    max-width:830px;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    position:relative;
    width:100px;
    height:100px;
    left:-130px;
    top:135px;
    border-radius: 100%;
}

.gbDiv { margin-bottom:5em; text-align: left; }

.galleryButton {
    padding: 1em 1em 1em 1em;
    text-decoration:none;
	display:block;
	width:135px;
	padding-top:5px;
	padding-bottom:5px;
	background-color:rgba(0, 0, 0, 0.04);
	border-radius:4px;
	margin-right:10px;
	margin-bottom:10px;
	color:black;
	font-size:150%;
	font-family: robotothin, helvetica, arial;
	-o-transition:0.2s;
    -ms-transition:0.2s;
    -moz-transition:0.2s;
    -webkit-transition:0.2s;
    transition:0.2s;
}

.imgGallery {
    text-align: center;
    max-width:1620px;
    margin-left:auto;
    margin-right:auto;
    
}


.galleryButton:hover {background-color:rgba(0, 0, 0, 0.1);}


/*Responsive embed videos*/
.embed-container { background-color: black; position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0px; }
/*Responsive embed videos*/

@media (max-width:829px) {
    .post {
        max-width:410px;
    }
    
    
}

@media (min-width:720px) and (max-width:990px) {
	
	.title1 {
		display:none;
	}
	
	.title2 {
		display:block;
	}
    
    .post {
        text-align: center;
    }
    
    .posttitle {
        text-align: left;
    }
    
    .postbrief {
        text-align: left;
    }
    
        
    .icon {
        position:inherit;
        width:100px;
        height:100px;
        border-radius: 100%;
        margin-top: 1em;
    }
}

@media(max-width:720px) {
	
	header {
		margin-top:0px;
	}
		
	.lbholder ul {
		width:202px;
	}
	
	.lbholder li {
		display:inline;
	}
	
	.lbholder a {
		text-decoration:none;
		display:block;
		width:300px;
		padding-top:10px;
		padding-bottom:10px;
		border-radius:8px;
		margin-bottom:10px;
		color:black;
		font-size:200%;
		margin-left:-50px;
		font-family: robotothin, helvetica, arial;
	}
	
	.title1 {
		display:none;
	}
	
	.title2 {
		display:block;
	}
    
    .post {
        text-align: center;
    }
    
    .postbrief {
        text-align: left;
    }
    
    .posttitle {
        text-align: left;
    }
    
    .text {
        padding:0 50px 0 50px;
    }
    
    .icon {
        position:inherit;
        width:100px;
        height:100px;
        border-radius: 100%;
        margin-top: 1em;
    }

}

