---
layout: default
---
<div style="max-width:1000px; padding:0 1em 0 1em; margin-left:auto; margin-right:auto; margin-top:-0px;">
    
    <div class='embed-container loadcolour'><iframe src='https://player.vimeo.com/video/236892532' frameborder='0' allowfullscreen></iframe></div>
</div>

<div id="gallery">
<!--
    {% for posts in site.posts %}
    <a href="{{ posts.url }}"><img class="loadcolour" src="{{ site.url }}{{ posts.img }}"></a>
    {% endfor %}
-->
    
    <div id="container">
        {% for posts in site.posts %}
        <a class="item" href="{{ posts.url }}"><img class="loadcolour masonryImage" src="{{ site.url }}{{ posts.img }}"></a>
        {% endfor %}
    </div>
    
    <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>
        <script src="js/masonry.pkgd.min.js"></script>
        <script>
          $(function(){

            var $container = $('#container');

            $container.imagesLoaded( function(){
              $container.masonry({
                itemSelector : '.masonryImage',
                percentPosition: true,
                columnWidth: '.grid-sizer'
              });
            });

          });
        </script>
    
</div>