* {
	margin: 0;
}
html, body {
    font-family: Arial, sans-serif;
	height: 100%;
    background-color:#dedede;
}
.wrapper {
    background-color:#dedede;
	min-height: 100%;
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 100px; /* '.push' must be the same height as 'footer' */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
header {background-color: #000000;}
main, .hdr { margin-left: auto; margin-right:auto; max-width:960px;}
header img {width:100%; padding-top:25px; padding-bottom:25px;}
.footer {text-align: center; color:white; background-color:#393939;}
.footer p {padding-top:50px;}
a { color:#90bfe8; }

.audioCntr{
    padding-top:100px;
    text-align: center;
}