<!DOCTYPE html>
<html>
    <head>
		<title>danielkenafake.com - my online portfolio</title>
		<meta charset="utf-8">
        <meta name="theme-color" content="#262626">
        <meta name="description" content="Daniel Kenafake's Online Portfolio of work.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, user-scalable=no" />
		<!-- Enables fullscreen mode -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes">
        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/font.css">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/main.css">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/project.css">
    </head>
    
    <body>
        <header>
            <nav>
                <div id="navtop">
                    {% include nav.html %}
                </div>
            </nav>
            <div id="logo">
                <a href="{{ site.url }}/index.html"><img alt="d/k logo" id="logoimg" src="{{ site.url }}/img/logo1.svg"></a>
            </div>
        </header>
        
        <main>
            
            {{content}}
            
        </main>
        
        <footer>
            <p>All work is subject to Copyright &copy; Daniel Kenafake 2016</p>
        </footer>
        
    </body>
    
</html>