<!DOCTYPE html>
<html>
    <head>
		<title>danielkenafake.com - my online portfolio</title>
		{%include head.html %}
        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/font.css">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/main.css">    
    </head>
    
    <body>
        <header>
            <nav>
                <div id="navtop">
                    {% include nav.html %}
                </div>
            </nav>
            <div id="logo">
                <a href="{{ site.url }}/index.html"><img alt="d/k logo" id="logoimg" src="{{ site.url }}/img/logo1.svg"></a>
            </div>
        </header>
        
        <main>
            {{content}}
            {% include colourscript.html %}
        </main>
        
        <footer>
            <p>Copyright &copy; Daniel Kenafake 2016</p>
            
        </footer>
    </body>
    
</html>
